{% extends "base.html" %}

{% block content %}
<h1>Create a new offboarding case </h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.emp_name.label }}<br>
        {{ form.emp_name(size=32) }}
    </p>
    <p>
        {{ form.emp_desig.label }}<br>
        {{ form.emp_desig(size=32) }}
    </p>
    <p>
        {{ form.emp_id.label }}<br>
        {{ form.emp_id(size=32) }}
    </p>
    <p>
        {{ form.emp_dep.label }}<br>
        {{ form.emp_dep }}
        {% for error in form.emp_dep.errors %}
            <span class="field-error">{{ error }}</span>
        {% endfor %} 
    </p>
    <p>
        {{ form.last_date.label }}<br>
        {{ form.last_date }}
    </p>
    <p>
        {{ form.line_manager.label }}<br>
        {{ form.line_manager }}
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}


